@charset "utf-8";
/* ユニバーサルセレクタで余白リセット*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: '游明朝',
    'Yu Mincho',
    YuMincho,
    'Hiragino Mincho Pro',
    serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.clearlist {
  content: "";
  display: block;
  clear: both;
}

h2 {
  font-size: 2.0em;
}

#site_logo {
  float: left;
  width: 65%;
}

#site_reserve {
  float: right;
  width: 35%;
  text-align: right;
  margin-top: 10px;
}

.site_tel {
  font-size: 1.5em;
  color: #c20D23;
}

nav {
  background-color: #c20D23;
}

nav ul {
  list-style: none;
}

nav ul::after {
  content: "";
  display: block;
  clear: both;
}

nav li {
  float: left;
  width: 25%;
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  opacity: 0.7;
}

#main_image img {
  width: 100%;
}

#concept {
  text-align: center;
  margin-bottom: 40px;
}

#concept h2 {
  margin-right: 25px;
}

#concept_logo {
  margin-bottom: -40px;
}

#menu {
  background-color: #f5fffa;
  text-align: center;
}

#menu_logo {
  margin-bottom: -40px;
}

.menu_box {
  width: 29%;
  float: left;
  margin-left: 3%;
  margin-bottom: 30px;
}

.menu_box img {
  width: 100%;
  max-width: 300px;
}

.menu_box ul {
  text-align: left;
  font-size: 0.8em;
  margin-left: 3%;
}

#access {
  text-align: center;
}

#access iframe {
  width: 70%;
  height: 300px;
}

#access_logo {
  margin-bottom: -40px;
}

#access_map {
  float: left;
  width: 50%;
}

#access_txt {
  float: right;
  width: 50%;
  text-align: left;
  margin-top: 60px;
}

#access_reserve {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  background-color: #c20D23;
  color: #fff;
  text-align: center;
}


@media only screen and (max-width: 680px) {

  .container {
    margin: 0 10px;
  }

  #site_logo {
    float: none;
    width: 100%;
  }

  #site_logo img {
    width: 90%;
    max-width: 420px;
  }

  #site_reserve {
    float: none;
    width: 100%;
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .site_tel {
    font-size: 1.2em;
  }

  .nav a {
    font-size: 0.8em;
  }

  #concept_logo {
    width: 70%;
  }

  h2 {
    font-size: 1.5em;
  }

  #concept_icon {
    width: 70%;
  }

  #concept p {
    font-size: 0.8em;
  }

  #menu_logo {
    width: 70%;
  }

  .menu_box {
    float: none;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .menu_box img {
    max-width: 480px;
  }

  .menu_box ul {
    margin: 0 30px;
  }

  #access_logo {
    width: 70%;
  }

  #access_map {
    float: none;
    width: 100%;
  }

  #access_txt {
    float: none;
    width: 90%;
    margin-left: 30px;
  }

  #access iframe {
    width: 100%;
    height: 200px;
  }

  footer img {
    width: 90%;
  }

}